@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to bottom , #13132A, #20213D, #2f3453);
    /* background-image: url("../storage/img/bg2.webp"); */
    /* background-repeat: no-repeat; */
}



.header{
    display: flex;
    width: 100%;
    height: 10%;
    color: var(--withe--);
    justify-content: center;
    align-items: center;
    font-family: 'roboto-light';
}

.main{
    width: 100%;
    height: 80%;
    /* background: rebeccapurple; */
}

.main__section__content{
    /* background: lightblue; */
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar__left{
    /* background-color: darkblue; */
    display: flex;
    width: 20%;
    height: 100%;
    padding-inline: 10px;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    color: var(--withe--);
}
.description__content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description__content .title__section{
    display: flex;
    align-items: center;
    font-family: 'roboto-Bold' ;
}

.img{
    /* background: magenta; */
    width: 30px;
    height: 30px;
}
.img img{
    width: 100;
}

.description__content small{
    font-family: 'roboto-light';
    margin-left: 30px;
}

.center__content{
    /* background: moccasin; */
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;

}

.progressbar__round{
    /* background: lightcoral; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.progress-bar {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(20, 20, 20) 79%, transparent 80% 100%),
      conic-gradient(from 180deg, rgb(94, 204, 252) 23%, rgba(255, 192, 203, 0) 0);  
  }

  .progress-bar > div {
    color: white;
    width: 70%;
  }
.cat{
    /* background: green; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12%;
}

.cat img{
    height: 250px;
    border-radius: 25px;
}

.main__content{
    /* background: lightseagreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 70%;
}

.card{
    /* background: violet; */
    width: 30%;
    height: 100%;
    padding-block: 5px;
    padding-inline: 7px;
}

.asd{
    background: #2f345380;
    width: 100%;
    height: 40%;

}

.card h3{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    color: var(--withe--);
    padding: 5px;
    font-family: 'roboto-Bold';
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}

.content__information{
    /* background: green; */
    width: 100%;
    height: 53%;
    overflow-y: scroll;
    scrollbar-width: none;
    border-width: 2px;
    border-style: dashed;
    border-color: var(--withe--);
    padding: 5px;
}



.features__information{
    /* background: blueviolet; */
    width: 100%;
    height: 40px;
    color: var(--withe--);
}

.features__information small{
    font-family: 'roboto-light';
}

.features__information span{
    font-family: 'roboto-light';
}

.carousel{ 
    /* background: #2f3453; */
    display: flex;
    width: 40%;
    height: 80%;
    padding-left:10px;
    padding-top: 30px;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 20px;
}

.image__countain{
    background: #2f345377;
    min-width: 100%;
    height: 80%;
    overflow: hidden;
    object-fit: scale-down;
    border-radius: 25px;
}

.image__countain >img{
    width: 100%;
    height: 100%;
}

.sidebar__rigth{
    /* background: rebeccapurple; */
    display:flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding-inline: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 10px;
}

.features{
    /* background: green; */
    display: flex;
    width: 100%;
    color: var(--withe--);
    gap: 10px;
}

.features .progressbar{
    /* background: navy; */
    width: 60%;
    font-family: 'roboto-regular' ;
}

.progressbar progress{
    width: 100%;
}

.features .cifras{
    /* background: #4b7aaf; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'roboto-light' ;
}


.footer{
    width: 100%;
    height: 10%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.footer__section{
    /* background-color: aqua; */
    background:var(--color-one--);
    display: flex;
    position: sticky;
    justify-content: center;    
    width: 65%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    gap:10px;
}

.footer__section a{
    /* background: red; */
    display: flex;
    flex-direction: column;
    width: 7%;
    height: 100%;
    /* align-items: center; */
    text-decoration: none;
    color: var(--withe--);
    font-family:'roboto-light';
}
.pagination__content{
    /* background: yellowgreen; */
    /* width: 20%; */
    
}

.pagination{
    background-color: #4b7aaf;
    padding: 20px;
    border-radius: 25px;
}

.pagination button{
    background-color: #13132A;
    border-style: none;
    padding: 2px;
    border-radius: 25px;
    color: var(--withe--);
}
