
@font-face {
    font-family: 'roboto-Bold' ;
    src: url(../storage/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto-light' ;
    src: url(../storage/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto-Regular';
    src: url(../storage/fonts/Roboto-Regular.ttf);
}
:root{
    --color-one--: #13132A;
    --withe--:#FFF;
    --color-two--: #2f345380;
    --color-three--:#3291a8;
    --color-four--:#74747486;
}