<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/starlink.css">
    <script type="module" src="../js/starlink.js" defer></script>
</head>
<body id="body">
    <img src="../storage/img/bg_planets.svg" class="bg">
    <main class="Loading">
        <div class="spinner-grow"></div>
        <div class="spinner-grow"></div>
        <div class="spinner-grow"></div>
    </main>
</body>
</html>